extends layout

block content
    include menu

    .pure-g
        div(class="pure-u-md-2-24 pure-u-lg-1-6 pure-u-xl-1-4")
        div(class="pure-u-md-20-24 pure-u-lg-16-24 pure-u-xl-1-2")
            img.arrow-border(src="images/arrow-border.png")
        div(class="pure-u-md-2-24 pure-u-lg-1-6 pure-u-xl-1-4")

    div.slideshow
        img(class="pure-img center" src="https://github.com/natandrich/natandrich_images/blob/master/images/img_1.1.jpg?raw=true")
        img(class="pure-img center" src="https://github.com/natandrich/natandrich_images/blob/master/images/img_2.jpg?raw=true")
        img(class="pure-img center" src="https://github.com/natandrich/natandrich_images/blob/master/images/img_3.2.jpg?raw=true")
        img(class="pure-img center" src="https://github.com/natandrich/natandrich_images/blob/master/images/img_4.1.jpg?raw=true")

    div(class="pure-g after-slideshow")
        div(class="pure-u-md-2-24 pure-u-lg-1-6 pure-u-xl-1-4")
        div(class="pure-u-md-20-24 pure-u-lg-16-24 pure-u-xl-1-2 center-text")
            h2 Come celebrate with us!
            h1 April 9th, 2016
        div(class="pure-u-md-2-24 pure-u-lg-1-6 pure-u-xl-1-4")

    .pure-g
        div(class="pure-u-md-2-24 pure-u-lg-1-6 pure-u-xl-1-4")
        div(class="pure-u-md-20-24 pure-u-lg-16-24 pure-u-xl-1-2")
            a(href="https://www.google.com/maps/place/Big+Sur+Bakery/@36.2358434,-121.7690678,12z/data=!4m2!3m1!1s0x808d850136b40b4d:0x869d98207e832368")
                img(src="images/big-sur-logo.jpg", class="pure-img")
        div(class="pure-u-md-2-24 pure-u-lg-1-6 pure-u-xl-1-4")

append scripts
    script(src="javascripts/slideshow.js")
