extends page

block pageContent
    img.arrow-border(src="images/arrow-border.png")

    .slideshow
        img(class="pure-img center-absolute" src="https://github.com/natandrich/natandrich_images/blob/master/images/img_1.1.jpg?raw=true")
        img(class="pure-img center-absolute" src="https://github.com/natandrich/natandrich_images/blob/master/images/img_2.jpg?raw=true")
        img(class="pure-img center-absolute" src="https://github.com/natandrich/natandrich_images/blob/master/images/img_3.2.jpg?raw=true")
        img(class="pure-img center-absolute" src="https://github.com/natandrich/natandrich_images/blob/master/images/img_4.1.jpg?raw=true")

    .center-text
        h2.after-slideshow Come celebrate with us!
        h1 April 9th, 2016
        p (<span id="days-to-go"></span>)
        a(href="https://www.google.com/maps/place/Big+Sur+Bakery/@36.2358434,-121.7690678,12z/data=!4m2!3m1!1s0x808d850136b40b4d:0x869d98207e832368")
            img(src="images/big-sur-logo.jpg", class="pure-img")

append scripts
    script(src="javascripts/slideshow.js")
    script.
        $(function(){
            var today = new Date();
            var weddingDate = new Date(2016, 3, 9);
            var daysToGo = Math.floor((weddingDate - today) / (1000*60*60*24));
            var message;
            if (daysToGo > 1 || daysToGo === 0) {
                message = daysToGo + ' days to go!';
            } else if (daysToGo === 1 ) {
                message = daysToGo + ' day to go!'
            } else if (daysToGo === -1) {
                message = -1 * daysToGo + ' day as newly weds!'
            } else if (daysToGo < -1) {
                message = -1 * daysToGo + ' days as newly weds!'
            }
            $('#days-to-go').text(message);
        });