extends page

block pageContent
    img(src="images/big-sur-bridge.jpg", class="pure-img")
    h3 We suggest booking your stay as soon as you have decided you can come celebrate with us. Big Sur is a popular place with limited lodging.
    p We are staying at <a href="http://www.bigsurlodge.com/">Big Sur Lodge</a> since they are located about 1 mile away from the reception venue.  We suggest trying to find someone to share a cabin with to make it more affordable.  $$
    p <a href="http://www.glenoaksbigsur.com/index.html">Glen Oaks</a> is another option that is a 5 minute drive from the reception venue.  These are very nice as well.  $$
    p <a href="http://www.fernwoodbigsur.com/forest-cabins.html">Fernwood Resort</a> offers many different lodging options.  Fernwood is a 4 minute drive from the reception venue.  $$
    p <a href="http://www.reserveamerica.com/camping/pfeiffer-big-sur-sp/r/campgroundDetails.do?contractCode=CA&parkId=120068">Pfieffer Big Sur State Park Campground</a> is an affordable option for those of you ready to delve into the nature theme of this wedding!  We highly suggest this campground because it is extremely beautiful.  There are showers and flushing toilets, what other comforts could you need?! This is located next to Big Sur Lodge and is a mile away from the reception venue. You can reserve a campsite starting October 1st.  $
    p <a href="http://www.riversidecampground.com/Cabins.html">Riverside Campground & Cabins</a> is a 5 minute drive from the reception venue and they offer cabins as well as campsites.  $