extends layout
append head
    link(rel="stylesheet", href="stylesheets/background.css")

block content
    form(action="/login", method="POST")
        input(type="text", name="password")
        input(type="submit", value="Enter our site!")

    if message
        p.error=message
