extends page

block pageContent
    img(src="images/big-sur-coast.jpg", class="pure-img center-relative")
    p We are thrilled to have our wedding ceremony on the beautiful <a href="https://www.google.com/maps/place/Pacific+Valley+Bluff+Trail,+Big+Sur,+CA+93920/@35.9317619,-121.472598,17z/data=!3m1!4b1!4m2!3m1!1s0x809299b697b1911b:0x808e70087a2ad09d">Pacific Valley Bluff Trail</a>.  There will be a short walk out to the ceremony spot, we suggest wearing a pair of closed toe shoes that cover your feet. It means so much to us that everyone can share our favorite place on our wedding day.
    p The reception will be located at <a href="https://www.bigsurbakery.com/">Big Sur Bakery</a> after the ceremony.  Get ready to drink espresso and chow on pizza with us!
    p Stay tuned for more information!