extends page

block pageContent
    img(src="images/big-sur-coast.jpg", class="pure-img center-relative")
    h3 Ceremony - 4:00 pm
    p We are thrilled to have our wedding ceremony on the beautiful <a href="https://www.google.com/maps/place/Pacific+Valley+Bluff+Trail,+Big+Sur,+CA+93920/@35.9317619,-121.472598,17z/data=!3m1!4b1!4m2!3m1!1s0x809299b697b1911b:0x808e70087a2ad09d">Pacific Valley Bluff Trail</a>.  There will be a short walk out to the ceremony spot, we suggest wearing a pair of closed toe shoes that cover your feet. It means so much to us that everyone can share our favorite place on our wedding day.
    p There is limited cell phone service throughout Big Sur so we highly recommend that you consider writing down any directions you need! The trail head is located directly across from the Pacific Valley Ranger Station. Their phone number is (805) 927-4211. The station is approximately 1 mile north of the Sand Dollar Beach parking lot.
    p There should be plenty of parking on the side of Highway 1 right next to the trail entrance but we are not allowed to park at the ranger station. We recommend carpooling if you can!
    p <a href="https://www.google.com/maps/place/Pacific+Valley+Bluff+Trail,+Big+Sur,+CA+93920/@35.9317619,-121.472598,17z/data=!3m1!4b1!4m2!3m1!1s0x809299b697b1911b:0x808e70087a2ad09d"> Click here to see the ceremony location on Google Maps</a>
    h3 Reception - 5:30 pm
    p The reception will be located at <a href="https://www.bigsurbakery.com/">Big Sur Bakery</a> after the ceremony.  Get ready to drink espresso and chow on pizza with us!
    p We can't wait to see you there!
    p <a href="https://www.google.com/maps/place/Big+Sur+Bakery/@36.2358434,-121.7712565,17z/data=!3m1!4b1!4m2!3m1!1s0x808d850136b40b4d:0x869d98207e832368"> Click here to see Big Sur Bakery on Google Maps</a>