- var homeActive = ''
- var ourStoryActive = ''
- var mainEventActive = ''
- var lodgingActive = ''
- var rsvpActive = ''
- var registryActive = ''

case activeMenuLink
    when 'home'
        - homeActive = ' active'
    when 'ourstory'
        - ourStoryActive = ' active'
    when 'mainevent'
        - mainEventActive = ' active'
    when 'lodging'
        - lodgingActive = ' active'
    when 'rsvp'
        - rsvpActive = ' active'
    when 'registry'
        - registryActive = ' active'

div#menu(class='pure-menu pure-menu-horizontal pure-menu-scrollable fixed-menu center-text')
    ul.pure-menu-list
        li.pure-menu-item
            a(href='/', class='pure-menu-link' + homeActive) HOME
        //- li.pure-menu-item
        //-     a(href='/ourstory', class='pure-menu-link' + ourStoryActive) OUR STORY
        li.pure-menu-item
            a(href='/mainevent' class='pure-menu-link' + mainEventActive) THE MAIN EVENT
        li.pure-menu-item
            a(href='/lodging' class='pure-menu-link' + lodgingActive) LODGING
        li.pure-menu-item
            a(href='/rsvp' class='pure-menu-link' + rsvpActive) RSVP
        li.pure-menu-item
            a(href='/registry', class='pure-menu-link' + registryActive) REGISTRY
