extends page

block pageContent
    img(src="https://github.com/natandrich/natandrich_images/blob/master/images/img_5.1.jpg?raw=true", class="pure-img")

    h3 Your presence is the greatest present, but if you're feeling extra generous and want some ideas then please check out <a href="https://www.myregistry.com/wedding-registry/Richard-McCluskey-Natalie-Medina-San-Luis-Obispo-CA/977425">our registry</a>!

    p You can ship your gift to us or bring it to the wedding, whichever you'd like!

    p Please update our registry after you purchase an item to help everyone keep track of what has already been bought. Thanks so much!

    p If you have any questions or need our address, please email Rich at rjmccluskey@gmail.com

    a(class="pure-button pure-button-active" href="https://www.myregistry.com/wedding-registry/Richard-McCluskey-Natalie-Medina-San-Luis-Obispo-CA/977425") Click here for our registry!