extends page

block pageContent
    h3 Your presence is the greatest present, but if you're feeling extra generous and want some ideas then please check out <a href="https://www.myregistry.com/wedding-registry/Richard-McCluskey-Natalie-Medina-San-Luis-Obispo-CA/977425">our registry</a>!

    p You can ship your gift to us or bring it to the wedding, whichever you'd like!

    p Please update our registry after you purchase an item to help everyone keep track of what has already been bought. Thanks so much!

    a(class="pure-button pure-button-active" href="https://www.myregistry.com/wedding-registry/Richard-McCluskey-Natalie-Medina-San-Luis-Obispo-CA/977425") Click here for our registry!