html {
    background: url(https://github.com/natandrich/natandrich_images/blob/master/images/login_background.1.jpg?raw=true) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}