html, button, input, select, textarea, h1, h2, h3, h4, p,
.pure-g [class *= "pure-u"] {
    font-family: 'Cantarell', sans-serif;
    color: #A6A6A6;
}

h1, h2 {
    text-transform: uppercase;
}

p> a:visited, h3 > a:visited {
    color: black;
}

p > a, h3 > a {
    color: black;
    text-decoration: none;
}

p > a:hover, h3 > a:hover,
a:hover {
    color: #e8d269;
}

.pure-button:hover {
    background-color: transparent;
}

.pure-g,
.pure-menu,
.slideshow {
    position: relative;
}

.center-absolute {
    position:absolute; left:0; right:0; top: 0;
    margin: auto;
    width: auto;
}

.center-relative {
    position:relative; left:0; right:0; top: 0;
    margin: auto;
}

.center-text {
    text-align: center;
}

.pure-menu-link:hover,
.pure-menu-link:focus {
    color: #e8d269;
    background-color: white;
}

.fixed-menu {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

.pure-menu-item > .active {
    color: #e8d269;
}

img {
    z-index: -1;
}

.arrow-border {
    max-width: 100%;
    margin-bottom: 1em;
}

.buffer {
    margin-top: 4em;
}

.error {
    color: red;
}

#login {
    margin-top: 10%;
}

#login div > input {
    border-radius: 0;
    text-align: center;
}

input[type="submit"]:hover {
    color: #e8d269;
}

.form-custom-radio > label > input[type='radio'] {
}

.footer {
    height: 5em;
}

.right-border {
    border-right: 1px
}

.rsvp-text {
    width: 23em;
}

.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
}

.fixed-right {
    position: fixed;
    top: 0;
    right: 0;
}

.scroll-arrow-left {
    width: 100%;
    height: 100%;
}

.scroll-arrow-right {
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.scroll:hover {
    cursor: pointer;
}

@media all and (max-width: 568px) {
    .scroll {
        display: block;
        width: 3em;
        height: 55px;
        z-index: 1;
        background-image: url("../images/scroll-arrow.png");
        -webkit-user-select:none;
        -webkit-touch-callout:none;
    }
    .menu-item-buffer {
        display: block;
    }
}

@media all and (min-width: 568px) {
    .scroll {
        display: none;
    }
    .menu-item-buffer {
        display: none;
        width: 0;
    }
}

.menu-item-buffer {
    width: 3em;
}